.blogCardDiv{
    padding:10px;
    background-color: #181A2A;
    /* margin: 20px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    border: 1.09211px solid #242535 !important;
}


.badge{
    background-color: #4B6BFB0D;
    color: #4B6BFB;
    width: fit-content;
    margin: 10px;
    padding: 4px 10px;
    border-radius: 4px;
}
.heading{
   color: #FFFFFF;
   padding: 0px 10px;
   font-size: 24px;
   line-height: 30px;
}
.cardImg{
    width: 21rem;
}
.date{
    color: #97989F;
    padding: 0px 10px;
}
.bottomText{
    height: 45%;
}

@media screen and (max-width:1400px){
    .bottomText{
        height:50%;

    }
}
@media screen and (max-width:640px) {
    .heading{
        color: #FFFFFF;
        padding: 0px 10px;
        font-size: 20px;
        line-height: 24px;
     }
}