.btnStyle {
  background-color: transparent !important;
  border: 1px solid white !important;
  padding: 8px 40px !important;
  width: fit-content !important;
  border-radius: 10px !important;
  font-weight: 600 !important;
  background: -webkit-linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  cursor: pointer !important;
  transition: border-width 0.3s ease-in-out, border-color 0.3s ease-in-out !important;
}

.btnStyle:hover {
  border-color: rgba(175, 226, 237, 1) rgba(162, 106, 255, 1) !important;
  border-width: 1px 4px 5px 1px !important;
}


.blackBtnStyle {
  background-color: transparent !important;
  border: 1px solid black !important;
  padding: 8px 32px 8px 32px !important;
  width: 25% !important;
  cursor: pointer !important;
  text-align: center !important;
  border-radius: 10px !important;
  font-weight: 600 !important;
  transition: border-width 0.3s ease-in-out, border-color 0.3s ease-in-out !important;

}
.blackBtnStyle:hover {
    border-color: black !important;
    border-width: 1px 4px 5px 1px !important;
  }


@media screen and (max-width: 640px) {
  .text {
    font-size: 50px;
  }
  .btnStyle {
    display: none;
  }
  .blackBtnStyle {
    display: none;
  }
}
@media screen and (min-width: 640px) and (max-width: 770px) {
  .btnStyle {
    background-color: transparent;
    border: 1px solid white;
    padding: 4px 20px;
    border-radius: 10px;
    font-weight: 300;
    cursor: pointer;
    background: -webkit-linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btnStyle:hover {
    border-color: rgba(175, 226, 237, 1) rgba(162, 106, 255, 1);
    border-width: 1px 4px 5px 1px;
  }
  .blackBtnStyle {
    background-color: transparent;
    border: 1px solid black;
    padding: 4px 20px;
    width: 30%;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
  }
  .blackBtnStyle:hover {
    border-color: black;
    border-width: 1px 4px 5px 1px;
  }
}

@media screen and (max-width: 820px) {
  .btnStyle {
    display: none;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  .btnStyle {
    background-color: transparent;
    border: 1px solid white;
    padding: 2px 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: 300;
    cursor: pointer;
    background: -webkit-linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btnStyle:hover {
    border-color: rgba(175, 226, 237, 1) rgba(162, 106, 255, 1);
    border-width: 1px 4px 5px 1px;
  }
  
  .blackBtnStyle {
    background-color: transparent;
    border: 2px solid black;
    padding: 8px 32px 8px 32px;
    width: 26%;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
  }
  .blackBtnStyle:hover {
      border-color: black !important;
      border-width: 1px 4px 5px 1px !important;
    }
}
