.btnStyle {
    background-color: transparent;
    border: 2px solid white;
    padding: 8px 32px;
    width: fit-content;
    border-radius: 10px;
    font-weight: 600;
    background: -webkit-linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blackBtnStyle {
    background-color: transparent;
    border: 2px solid black;
    padding: 8px 32px;
    width: fit-content;
    border-radius: 10px;
    font-weight: 600;
}

@media screen and (max-width: 640px){
    .text{
        font-size: 50px;
    }
    .btnStyle{
        display: none;
    }
    .blackBtnStyle{
        display: none;
    }
}


