.imageContainer {
    position: relative;
    width: 100%;
    max-width: 500px;
  }
  
  .textOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    border-radius: 14px 14px 0px 0px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    transition: height 0.5s ease;
  }
  
  .imageContainer:hover .textOverlay {
    height: 70%;
    padding: 20px;
  }
  