.mainDiv {
  border-radius: 30px 30px 0px 0px;
  background: rgba(21, 21, 21, 0.8);
  backdrop-filter: blur(82px);
  border-radius: 52px 52px 0px 0px;
}
.SocialMedia {
  margin-left: 4px;
  font-size: 20px;
  padding-top: 8%;
  float: left;
}
.head {
  padding: 2%;
}
@media screen and (max-width: 640px) {
  .mainDiv {
    padding: 0px;
  }
  .head {
    padding: 0px;
  }
  .subHead {
    text-align: center;
  }
  .SocialMedia {
    margin-left: 0px;
    font-size: 20px;
    padding-top: 5%;
    float: left;
  }
}
@media screen and (min-width:640px) and (max-width:1024px) {
  .SocialMedia {
    margin-left: 0px;
    font-size: 20px;
    padding-top: 5%;
    float: left;
  }
}
