
.liBox {
  margin-left: 20%;
  display: flex;
  justify-content: space-between;
  width: 400px;
  color: white;
}

.liText {
  color: white;
  font-weight: 200;
  margin-right: 10%;
  transition: 0.2s;
}
.liText:hover{
  color: white;
}
.navbarDiv {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(47px);
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}
.NavBtn{
  display: none;
}
.DownloadApp{
  display: none;
}

@media screen and (max-width: 640px) {
  .liBox {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 5rem;
    /* height: 100vh; */
    padding-bottom: 5rem;
  }
  .liText {
    /* margin: auto; */
    font-size: 30px;
    color: white;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    transition: 0.2s;
  }

  .NavBtn{
    display: flex;
    /* margin: auto; */
    margin-left: 25%;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    font-weight: 200;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: transparent;
    height: 50px;
    width: 150px;
    color: #ffffff;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
  }

  .logo {
    color: white;
    width: 50px;
    border: none;
  }

  .DownloadApp{
    display: flex;
    margin-left: 13%;
    align-items: center;
    font-weight: 200;
    cursor: pointer;
    border: 1px solid #ffffff;
    height: 50px;
    width: 250px;
    color: #000000;
    font-size: 1.5em;
    background: linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    border-radius: 16.2667px;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .logo{
    color: white;
  }
}
