#nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  display: block;
  transition: top 1s !important;
  transition-timing-function: linear;
}

.liBox {
  display: none;
}

.DesktopliBox {
  display: flex;
  color: white;
  margin-left: 130%;
}

.image {
  margin-left: 30%;
  padding-top: 5%;
}

.liText {
  color: white;
  font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 10%;
  transition: 0.2s;
}

.liText:hover {
  color: white;
}

.navbarDiv {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(47px);
  margin-top: 40px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.topnav .icon {
  display: none;
}

.NavBtn {
  display: none;
}

.DownloadApp {
  display: none;
}

@media screen and (max-width: 640px) {
  .liBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-bottom: 5rem;
    z-index: 9999;
  }

  .DesktopliBox {
    display: none;
  }

  .image {
    padding-top: 10%;
    margin-left: 10%;
  }

  .liText {
    display: block;
    font-size: 29px;
    margin: auto;
    color: white;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    transition: 0.2s;
    font-family: 'ClashGrotesk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .NavBtn {
    display: flex;
    margin: 20px auto;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-weight: 200;
    justify-content: center;
    cursor: pointer !important;
    border: 1px solid #ffffff !important;
    background-color: rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 150px;
    color: #ffffff !important;
    font-size: 1.2rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
  }

  .btntext {
    font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    margin-top: -1rem;
    text-align: center;
    color: white;
  }

  .logo {
    color: rgb(246, 246, 246);
  }

  .DownloadApp {
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    width: 250px;
    color: #000000;
    font-size: 1.5em;
    background: linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    border-radius: 16.2667px;
    justify-content: center;
  }

  .navbarDiv {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(47px);
    margin-top: 0px;
  }

  .getButton {
    display: none;
  }
}

@media screen and (min-width: 640px) and (max-width: 770px) {
  .logo {
    color: white;
  }

  .getButton {
    display: none;
  }

  .liBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 0rem;
  }

  .DesktopliBox {
    display: none;
  }

  .btntext {
    font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    margin-top: -1rem;
    text-align: center;
    color: white;
  }

  .DownloadApp {
    display: flex;
    align-items: center;
    font-weight: 200;
    cursor: pointer;
    height: 32px;
    width: 155px;
    margin: 3%;
    color: #000000;
    font-size: 1rem;
    background: linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    border-radius: 8.2667px;
    justify-content: center;
  }

  .NavBtn {
    display: flex;
    margin: 20%;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-weight: 200;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: transparent;
    height: 30px;
    width: 60%;
    color: #ffffff;
    font-size: 0.8rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
  }

  .liText {
    color: white;
    font-size: 1.1rem;
    font-weight: 200;
    margin: auto;
    transition: 0.2s;
  }

  .liText:hover {
    color: white;
  }

  .image {
    height: 30px;
    width: 100px;
  }
}

@media screen and (min-width: 770px) and (max-width: 825px) {
  .logo {
    color: white;
  }

  .getButton {
    display: none;
  }

  .liBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  .DesktopliBox {
    display: none;
  }

  .btntext {
    font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7rem;
    margin-top: -1rem;
    text-align: center;
    color: white;
  }

  .DownloadApp {
    display: flex;
    align-items: center;
    font-weight: 200;
    cursor: pointer;
    height: 25px;
    width: 150px;
    color: #000000;
    font-size: 1rem;
    background: linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    border-radius: 8.2667px;
    justify-content: center;
  }

  .liText {
    color: white;
    font-size: 0.8rem;
    font-weight: 200;
    margin: auto;
    transition: 0.2s;
  }

  .liText:hover {
    color: white;
  }

  .image {
    height: 30px;
    width: 100px;
  }

  .NavBtn {
    display: flex;
    margin: 20px auto;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-weight: 200;
    justify-content: center;
    cursor: pointer !important;
    border: 1px solid #ffffff !important;
    background-color: rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 150px;
    color: #ffffff !important;
    font-size: 1.2rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
  }
}

@media screen and (min-width:825px) and (max-width:992px) {

  .liBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding-bottom: 5rem;
  }

  .getButton {
    display: none;
  }

  .DesktopliBox {
    display: none;
  }

  .liText {
    color: white;
    font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 10%;
    transition: 0.2s;
  }

  .liText:hover {
    color: white;
  }

  .navbarDiv {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(47px);
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .logo {
    color: white;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

  .DownloadApp {
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    width: 250px;
    color: #000000;
    font-size: 1.5em;
    background: linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    border-radius: 16.2667px;
    justify-content: center;
  }

  .image {
    height: 30px;
    width: 100px;
  }

  .NavBtn {
    display: flex;
    margin: 20px auto;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-weight: 200;
    justify-content: center;
    cursor: pointer !important;
    border: 1px solid #ffffff !important;
    background-color: rgba(0, 0, 0, 0.1);
    height: 50px;
    width: 150px;
    color: #ffffff !important;
    font-size: 1.2rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6)
  }

  .btntext {
    font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    margin-top: -1rem;
    text-align: center;
    color: white;
  }
}

@media screen and (min-width:992px) and (max-width:1024px) {

  .liBox {
    display: none;
  }

  .DesktopliBox {
    display: flex;
    width: 100%;
    margin-left: 60%;
    color: white;
  }

  .liText {
    color: white;
    font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 10%;
    transition: 0.2s;
  }

  .liText:hover {
    color: white;
  }

  .navbarDiv {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(47px);
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .logo {
    color: white;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }

  .topnav .icon {
    display: none;
  }

  .NavBtn {
    display: none;
  }

  .DownloadApp {
    display: none;
  }

  .image {
    height: 30px;
    width: 100px;
  }

}

@media screen and (min-width:1024px) and (max-width:1200px) {
  .DesktopliBox {
    display: flex;
    width: 100%;
    margin-left: 65%;
    color: white;
  }

  .image {
    height: 30px;
    width: 100px;
  }
}

@media screen and (min-width:1200px) and (max-width:1400px) {
  .DesktopliBox {
    display: flex;
    width: 100%;
    margin-left: 90%;
    color: white;
  }

  .image {
    height: 30px;
    width: 100px;
  }
}

@media screen and (min-width:1400px) and (max-width:1600px) {
  .DesktopliBox {
    display: flex;
    width: 100%;
    margin-left: 130%;
    color: white;
  }

  .image {
    height: 30px;
    width: 100px;
  }
}