/* -------------store btn---------------- */

.storeBtn {
  display: flex;
  justify-content: flex-start;
  background-color: black;
  color: white;
  padding: 6px 30px;
  width: fit-content;
  border-radius: 20px;
  margin-left: 0px;
  margin-bottom: 5%;
  margin-right: 10px;
}
.leftDiv {
  margin-right: 6px;
  margin-top: 5px;
}
.rightDiv {
  margin-top: 5px;
}
.text {
  font-family: "ClashGrotesk-Variable", "Courier New", Courier, monospace;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
}
.subText {
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 640px) {
    .storeBtn {
        display: flex;
        justify-content: flex-start;
        background-color: black;
        color: white;
        padding: 6px 30px;
        width: fit-content;
        border-radius: 20px;
        margin-left: 0px;
        margin-bottom: 3%;
        margin-right: 10px;
      }
  .text {
    font-family: "ClashGrotesk-Variable", "Courier New", Courier, monospace;
    text-align: start;
    font-size: 15px;
    font-weight: 100;
    line-height: 12px;
  }
  .subText {
    text-align: start;
    font-weight: 600;
    font-size: 16px;
  }

}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .storeBtn {
    /* flex-direction: column;
        align-items: center; */
  }
  .text {
    font-size: 15px;
    font-weight: 200;
    line-height: 12px;
  }
  .subText {
    font-weight: 600;
    font-size: 16px;
  }
  .button {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .text {
    font-size: 15px;
    font-weight: 200;
    line-height: 12px;
  }
  .subText {
    font-weight: 600;
    font-size: 16px;
  }
  .button {
    display: none;
  }
}
