/* -------------store btn---------------- */

.storeBtn{
    display: flex;
    justify-content: flex-start;
    background-color: black;
    color: white;
    padding: 12px 34px;
    width: fit-content;
    border-radius: 20px;
    margin: 10px;
}
.leftDiv{
    margin-right: 6px;
    margin-top: 5px;
}
.rightDiv{
    margin-top: 5px;
}
.text{
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
}
.subText{
    font-weight: 600;
    font-size: 22px;
}



@media screen and (max-width: 640px) {
    .storeBtn{
        /* padding-top: 4px;
        padding-left: 5px; */
        align-items: center;
        width: 250px;
        height: 80px
    }
    .text{
        font-size: 15px;
        font-weight: 300;
        line-height: 12px;
    }
    .subText{
        font-weight: 600;
        font-size: 16px;
    }
   
}