.mainDiv {
    background: black;
    padding: 100px
}

.logoImg {
    width: 150px;
    height: 40px;
}

.imgStyle {
    width: 150px;
    height: 40px;
}

.leftDiv {
    padding: 80px 30px;
    text-align: left;
}

.verticalScroll {
    height: 500px;
    overflow-y: hidden
}

@media screen and (max-width:640px) {
    .mainDiv {
        background: black;
        padding: 0px
    }

    .logoImg {
        width: 150px;
        height: 30px;
    }

    .leftDiv {
        padding: 20px 60px 0px;
        text-align: center;
    }
    .verticalScroll {
        height: 300px;
        overflow-y: hidden;
        margin: auto;
    }
    .logoImg {
        width: 130px;
        height: 35px;
    }
    
    .imgStyle {
        width: 130px;
        height: 35px;
    }
}