.mainDiv {
    background: black;
    padding: 100px
}

.logoImg {
    width: 150px;
    height: 40px;
}

.imgStyle {
    width: 150px;
    height: 40px;
}

.leftDiv {
    padding: 80px 30px;
    text-align: left;
}

.verticalScroll {
    height: 500px;
    overflow-y: hidden
}

.heading {
    font-family: "ClashGrotesk-Semibold";
    font-size: 62px;
}

.subHeading {
    font-family: "ClashGrotesk-Regular";
    font-size: 22px;
}

@media screen and (max-width:640px) {
    .mainDiv {
        background: black;
        padding: 0px
    }

    .logoImg {
        width: 150px;
        height: 30px;
    }

    .leftDiv {
        padding: 20px 20px 0px;
        text-align: center;
    }

    .verticalScroll {
        height: 300px;
        overflow-y: hidden;
        margin: auto;
    }

    .logoImg {
        width: 130px;
        height: 35px;
    }

    .imgStyle {
        width: 130px;
        height: 35px;
    }

    .heading {
        font-family: "ClashGrotesk-Semibold";
        font-size: 36px;
    }

    .subHeading {
        font-family: "ClashGrotesk-Regular";
        font-size: 16px;
    }
}

@media screen and (min-width:640px) and (max-width:768px) {
    .heading {
        font-family: "ClashGrotesk-Semibold";
        font-size: 42px;
    }

    .subHeading {
        font-family: "ClashGrotesk-Regular";
        font-size: 18px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .heading {
        font-family: "ClashGrotesk-Semibold";
        font-size: 46px;
    }

    .subHeading {
        font-family: "ClashGrotesk-Regular";
        font-size: 20px;
    }
}