/* --------------chat and pay section ------------ */

.chatDiv{
    background: linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    display: flex;
    width: 100%;
    padding: 100px;
    border-radius: 50px;
}
.leftDiv{
    width: 50%;
    padding: 100px;
}
.rightDiv{
    width: 50%
}
.text{
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 60px;
}
.subHeading{
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
    margin-bottom: 20px;
}
.heading{
    font-size: 48px;
    font-weight: 600;
}