/* @import url("https://fonts.googleapis.com/css2?family=Abel&display=swap"); */

.chatDiv {
  background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  margin-top: -33px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  height: 100vh;
}
.leftDiv {
  padding: 100px;
}
.text {
  font-family: 'ClashGrotesk-Light', system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif !important;
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: 60px;
}
.mobile {
  width: 500px;
}
.subHeading {
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 20px;
}
.heading {
  font-size: 48px;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .chatDiv {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 5% 5% 20%;
    border-radius: 40px;
  }
  .leftDiv {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 10%;
  }
  .heading {
    padding-top: 10%;
    font-size: 25px;
    font-weight: 600;
  }
  .btn {
    display: none;
  }
  .subHeading {
    font-family: 'ClashGrotesk-Semibold', system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    margin: auto;
  }
  .emoji{
    width: 35px;
    height: 35px;
  }
  .text {
    font-size:4.5vw;
    font-family: "Abel", sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
    line-height: 20px;
    padding-top: 5%;
  }
  .rightDiv{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-top: -15%;
  }

  .mobile {
    padding-top: -10%;
    margin: auto;
    padding-left: 5%;
    height: 350px;
    width: 300px;
  }
}

@media screen and (min-width: 640px) and (max-width: 770px) {
  .chatDiv {
    background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-top: -33px;
    border-radius: 40px;
  }
  .leftDiv {
    padding: 29px;
  }
  .text {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 60px;
  }
  .mobile {
    width: 40vh;
    height: auto;
  }
  .subHeading {
    font-family: 'ClashGrotesk-Semibold', system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
    font-size: 2.9rem;
    line-height: 3rem;
    margin-bottom: 20px;
  }
  .heading {
    font-family: 'ClashGrotesk-Semibold', system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
    font-size: 1.5rem;
  }
}

@media screen and (min-width:770px) and (max-width:1024px){
  .chatDiv {
    background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    margin-top: -33px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
  .leftDiv {
    padding: 29px;
  }
  .text {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 60px;
  }
  .mobile {
    width: 500px;
  }
  .subHeading {
    font-size: 3rem;
    font-family: 'ClashGrotesk-Medium', system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .heading {
    font-size: 2rem;
    font-weight: 600;
  }
}
