@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.chatDiv {
  background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  margin-top: -33px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.leftDiv {
  /* width: 50%; */
  padding: 100px;
}
.rightDiv {
  /* width: 50%; */
}
.text {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 60px;
}
.mobile {
  width: 500px;
}
.subHeading {
  font-size: 80px;
  font-weight: 600;
  line-height: 80px;
  margin-bottom: 20px;
}
.heading {
  font-size: 48px;
  font-weight: 600;
}

@media screen and (max-width: 640px) {
  .chatDiv {
    display: flex;
    flex-direction: column;
    padding: 70px 10px;
    /* border-bottom-left-radius: 40px; */
    /* border-bottom-right-radius: 40px; */
  }
  .leftDiv {
    /* width: 50%; */
    width: 100%;
    text-align: center;
    padding: 30px;
  }
  .heading {
    font-size: 25px;
    font-weight: 600;
  }
  .btn {
    display: none;
  }
  .subHeading {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    margin: auto;
  }
  .text {
    font-size: 20px;
    font-family: "Abel", sans-serif;
    line-height: 20px;
  }

  .btn {
    display: none;
  }

  .mobile {
    height: 400px;
    width: 350px;
    margin-left: -50%;
  }
}

@media screen and (max-width:1024px){
  .chatDiv {
    display: flex;
    flex-direction: column;
    margin-top: 70%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .leftDiv {
    /* width: 100%; */
    text-align: center;
    padding: 30px;
  }
  .heading {
    font-size: 25px;
    font-weight: 600;
  }
  .btn {
    display: none;
  }
  .subHeading {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    margin: auto;
  }
  .text {
    font-size: 20px;
    font-family: "Abel", sans-serif;
    line-height: 20px;
  }

  .btn {
    display: none;
  }

  .mobile {
    height: 400px;
    width: 350px;
    /* margin: 0px; */
    /* left: 60%; */
  }
}
