/* --------------crypto section------------ */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.cryptoDiv {
  background-image: linear-gradient(226.73deg, #c196c8 1.98%, #425991 97.5%);
  display: flex;
  justify-content: center;
  padding-left: 100px;
  width: 100%;
  color: white;
}
.leftDiv {
  width: 50%;
  /* padding: 80px; */
  /* margin-top: 150px; */
}
.rightDiv {
  width: 50%;
}
.heading {
  font-weight: 600;
  font-size: 50px;
}

.btnDiv {
  display: flex;
  justify-content: flex-start;
}

.wallet {
  height: 100%;
  width: 100%;
}
.Iphone{
  display: none;
}


@media screen and (min-width: 300px) and (max-width: 764px) {
  .cryptoDiv {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .paragrapgh {
    font-family: "Abel", sans-serif;
    text-align: center;
  }

  .heading {
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 80;
    text-align: center;
    font-style: normal;
  }
  .Appstore {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Iphone{
    height: 314px;
    width: 347px;
  }

  .wallet {
    display: none;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .AppleIcon{
   display: none;
  }

}

@media screen and (max-width:600px) {
  .Iphone{
    display: block;
  }

}
