/* --------------crypto section------------ */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.cryptoDiv {
  background-image: linear-gradient(226.73deg, #c196c8 1.98%, #425991 97.5%);
  display: flex;
  justify-content: center;
  padding-left: 100px;
  width: 100%;
  color: white;
}
.leftDiv {
  width: 50%;
}
.rightDiv {
  width: 50%;
}
.heading {
  font-weight: 600;
  font-size: 50px;
}

.btnDiv {
  display: flex;
  justify-content: flex-start;
}

.Appstore{
  margin-top: 10%;
}

.wallet {
  height: 100%;
  width: 100%;
}
.Iphone {
  display: none;
}

@media screen and (max-width: 640px) {
  .cryptoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    padding: 10px;
  }

  .paragrapgh {
    font-family: "Abel", sans-serif;
    display: flex;
    width: 39%;
    margin: auto;
    word-wrap: break-word;
  }

  .heading {
    font-family: 'ClashGrotesk-Semibold', 'Courier New',Courier, monospace;
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
  }
  .Appstore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25%;
  }
  .Iphone {
    display: block;
    margin-top: -40px;
    height: 84vh;
    width: 92vh;
    margin-left: -14px;
    margin-bottom: 20%;
  }

  .wallet {
    display: none;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .AppleIcon {
    display: none;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .Appstore {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading {
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 80;
    text-align: center;
    font-style: normal;
    align-items: center;
  }
  .paragrapgh {
    align-items: center;
    text-align: center;
  }
}

