/* --------------crypto section------------ */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.cryptoDiv {
  background-image: linear-gradient(226.73deg, #c196c8 1.98%, #425991 97.5%);
  display: flex !important;
  justify-content: center !important;
  padding-left: 65px;
  width: 100%;
  color: white;
}

.cryptoInnerDiv {
  padding: 0px 35rem;
  display: contents;
}

.rightDiv {
  width: 50%;
}

.heading {
  font-family: "ClashGrotesk-Semibold", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
  font-size: 3.2rem;
  line-height: 1.2;
}

.btnDiv {
  display: flex;
  justify-content: flex-start;
}

.Appstore {
  margin-top: 10%;
}

.paragrapgh {
  font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
  font-size: 1.5rem;
  width: 70%;
  margin: 0;
}

.wallet {
  height: 100%;
  width: 100%;
}

.Iphone {
  display: none;
}

.leftDiv {
  padding-left: 50px;
}

@media screen and (max-width: 375px) {
  .cryptoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    padding: 10px;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1rem;
    display: flex;
    width: 39%;
    margin: auto;
    word-wrap: break-word;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", Courier, monospace, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
  }

  .Appstore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25%;
  }

  .Iphone {
    display: block;
    margin-top: -40px;
    height: 84vh;
    width: 92vh;
    margin-left: -14px;
    margin-bottom: 20%;
  }

  .wallet {
    display: none;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .AppleIcon {
    display: none;
  }

  .leftDiv {
    margin-left: 3%;
    padding-left: 0px;
  }
}

@media screen and (min-width:375px) and (max-width: 640px) {
  .cryptoDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    padding: 10px;
  }

  .leftDiv {
    margin-left: 3%;
    padding-left: 0px;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1rem;
    display: flex;
    width: 39%;
    margin: auto;
    word-wrap: break-word;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", Courier, monospace, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
  }

  .Appstore {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25%;
  }

  .Iphone {
    display: block;
    margin-top: -40px;
    height: 84vh;
    width: 92vh;
    margin-left: -14px;
    margin-bottom: 20%;
  }

  .wallet {
    display: none;
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .AppleIcon {
    display: none;
  }
}

@media screen and (min-width:640px) and (max-width: 768px) {
  .Appstore {
    display: flex;
    flex-direction: inherit;
    align-items: center;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", system-ui, -apple-system, BlinkMacSystemFont, Courier, monospace "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-align: left;
    font-style: normal;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1rem;
    display: flex;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Appstore {
    display: flex;
    flex-direction: inherit;
    align-items: center;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-align: left;
    font-style: normal;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1rem;
    display: flex;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .Appstore {
    display: flex;
    flex-direction: inherit;
    align-items: center;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-align: left;
    font-style: normal;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
  .Appstore {
    display: flex !important;
    flex-direction: inherit !important;
    align-items: center;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 30px;
    line-height: 38px;
    font-weight: 500;
    text-align: left;
    font-style: normal;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 1600px) and (max-width: 2000px) {
  .Appstore {
    display: flex !important;
    flex-direction: inherit !important;
    align-items: center;
  }

  .cryptoInnerDiv {
    padding: 0px 13%;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 40px;
    line-height: 38px;
    font-weight: 500;
    text-align: left;
    font-style: normal;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2300px) {
  .Appstore {
    display: flex !important;
    flex-direction: inherit !important;
    align-items: center;
  }

  .cryptoInnerDiv {
    padding: 0px 24rem;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 40px;
    line-height: 38px;
    font-weight: 500;
    text-align: left;
    font-style: normal;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
  }
}

@media screen and (min-width: 2300px) and (max-width: 2560px) {
  .Appstore {
    display: flex !important;
    flex-direction: inherit !important;
    align-items: center;
  }

  .cryptoInnerDiv {
    padding: 0px 32rem;
  }

  .heading {
    font-family: "ClashGrotesk-Semibold", "Courier New", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    padding-top: 40px;
    font-size: 40px;
    line-height: 38px;
    font-weight: 500;
    text-align: left;
    font-style: normal;
  }

  .paragrapgh {
    font-family: "ClashGrotesk-Regular", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif !important;
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    margin: auto;
    word-wrap: break-word;
  }
}