.mainDiv {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(47px);
  border-radius: 52px;
  height: fit-content;
  color: white;
  width: 100%;
  padding-top: 1px;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
}

.newsDiv {
  display: "inline-block";
  width: "100%";
  display: flex;
  background: "transparent";
  padding: 20px
}

.arrow {
  display: none;
}

.mobileIcons {
  display: none;
}

@media screen and (max-width: 640px) {
  .mainDiv {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(47px);
    border-radius: 32px;
  }

  .mobileIcons {
    display: block;
  }

  .mobileIconsBox {
    height: auto;
    transition: height 0.5s linear !important
  }

  .arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation-name: show;
    animation-duration: 1s;
  }
  @keyframes show {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .text {
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    font-size: 16px;

  }

  .desktopIcons {
    display: none;
  }
}