.mainDiv {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(47px);
    border-radius: 52px;
    height: fit-content;
    color: white;
    width: 100%;
    padding: 100;
}

.newsDiv {
    display: "inline-block";
    width: "100%";
    display: flex;
    background: "transparent";
    padding: 20px
}