/* --------Own Bank---------- */

.mainDiv {
  padding: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.leftDiv {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.curl {
  padding-top: -100px;
}

.rightDiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phoneImg1 {
  position: relative;
  left: -220px;
  top: -100px;
  z-index: 8;
}
.phoneImg2 {
  position: absolute;
  z-index: 6;
  top: 0px;
  left: 200px;
}
.heading {
  font-size: 8vw;
  font-weight: 1000;
  line-height: 8vw;
}
.subHeading {
  width: 80%;
  font-size: 15px;
  line-height: 44px;
  font-weight: 300;
}

.btnDiv {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-top: px;
}
.bankDataDiv {
  background-color: transparent;
  position: relative;
  top: -100px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-align: center;
}
.bankNumber {
  font-size: 35px;
  font-weight: 600;
}
.images{
  height: 110%;
  width: 113%;
}


@media screen and (max-width: 640px) {
  .mainDiv {
    padding: 5%;
    margin-top: 20%;
    align-items: center;
    justify-content: space-around;
  }
  .leftDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .curl{
    margin-top: 2%;
    height: 20px;
    width: 150px;
  }
  .heading{
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .subHeading{
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .rightDiv {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .btnDiv {
    display: none;
  }
  .bankNumber {
    font-size: 20px;
    margin-left: 12px;
  }
  .userText {
    font-size: 16px;
    font-weight: 400;
  }
  .images {
    height: 500px;
    width: 700px;
  }
  .main{
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .mainDiv {
    padding: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .leftDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .heading{
    font-size: 10vw;
    font-weight: 1000;
    line-height: 9vw;
  }
  .subHeading {
    font-size: 2rem;
  }
  .mainDiv {
    width: 100%;
    margin-top: 10%;
    align-items: center;
  }
  .rightDiv {
    width: 100%;
    align-items: center;
  }
  .main{
    padding-bottom: 10%;
    align-items: center;
    text-align: center;
  }
  .btnDiv {
    display: none;
  }
  .images {
    margin-top: -10%;
    height: 89vh;
    width: 100vh;
    margin-bottom: -10%;
  }
}
