/* --------Own Bank---------- */

.mainDiv {
  padding: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.leftDiv {
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.curl {
  padding-top: -100px;
}

.rightDiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phoneImg1 {
  position: relative;
  left: -220px;
  top: -100px;
  z-index: 8;
}
.phoneImg2 {
  position: absolute;
  z-index: 6;
  top: 0px;
  left: 200px;
}
.heading {
  font-size: 8vw;
  font-weight: 1000;
  line-height: 8vw;
}
.subHeading {
  font-family: 'ClashGrotesk-Variable';
  width: 70%;
  font-size: 25px;
  line-height: 40px;
  font-weight: 300;
}

.btnDiv {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding-top: 5%;
}
.bankDataDiv {
  background-color: transparent;
  position: relative;
  top: -100px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-align: center;
}
.bankNumber {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.userText {
  text-align: center;
}
.images {
  height: 100%;
  width: 113%;
}

@media screen and (max-width: 640px) {
  .mainDiv {
    padding: 20px;
    margin-top: 20%;
    align-items: center;
    justify-content: space-around;
  }
  .leftDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .curl {
    margin-top: 2%;
    float: left;
    height: 20px;
    width: 150px;
  }
  .heading {
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .subHeading p {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 20px;
  }
  .rightDiv {
    padding: 5%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .btnDiv {
    display: none;
  }
  .bankNumber {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    line-height: 27px;
  }
  .userText {
    font-size: 13px;
    font-weight: 400;
  }
  .images {
    margin-top: -25%;
    margin-left: -5%;
    height: 523px;
    width: auto;
  }
  .main {
    margin-top: -10%;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .mainDiv {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .leftDiv {
    color: white;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .curl {
    padding-top: -100px;
    height: 7%;
  }

  .rightDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phoneImg1 {
    position: relative;
    left: -220px;
    top: -100px;
    z-index: 8;
  }
  .phoneImg2 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 200px;
  }
  .heading {
    font-size: 8vw;
    font-weight: 1000;
    line-height: 8vw;
  }
  .subHeading {
    width:70%;
    font-size: 15px;
    line-height: 1.5rem;
    font-weight: 300;
  }

  .btnDiv {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .mainbtn{
    border-style: solid !important;
    border-image-source: linear-gradient(
      91.6deg,
      #afe2ed 0.62%,
      #a26aff 99.17%
    ) !important;
  }
  .bankDataDiv {
    background-color: transparent;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  .bankNumber {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .userText {
    text-align: center;
  }
  .images {
    height: 100%;
    width: 150%;
  }
}
