/* --------Own Bank---------- */

.mainDiv {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 70px;
}
.leftDiv {
  color: white;
  display: flex;
  padding-left: 5%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.curl {
  padding-top: -100px;
}
.QrCode {
  position: relative;
}
.qrCode {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  left: 98%;
  margin-top: -5%;
}
.main{
  margin-top: -15%;
}
.rightDiv {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.phoneImg1 {
  position: relative;
  left: -220px;
  top: -100px;
  z-index: 8;
}
.phoneImg2 {
  position: absolute;
  z-index: 6;
  top: 0px;
  left: 200px;
}
.heading {
  font-family: ClashGrotesk-Medium, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
  padding-top: 5%;
  font-size: 5vw;
  line-height: 8vw;
}
.subHeading p {
  padding-top: 5%;
  font-family: "ClashGrotesk-Light", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif !important;
  width: 70%;
  font-size: 1.3rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}
.strong {
  font-family: "ClashGrotesk-Regular";
}

.btnDiv {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding-top: 5%;
}

.bankDataDiv {
  background-color: transparent;
  position: relative;
  top: -100px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-align: center;
}
.bankNumber {
  font-family: ClashGrotesk-Medium, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif !important;
  padding-top: 3rem;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.userText {
  font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 25%;
}
.images {
  height: 100%;
  width: 113%;
}
.DownloadApp {
  display: none;
}
.btntext {
  display: none;
}
.DownloadAppBtn {
  display: none;
}
.mobilebtn{
  display: none;
}

@media screen and (max-width: 320px) {
  .mainDiv {
    padding: 10px;
    margin-top: 10%;
    align-items: center;
    justify-content: space-around;
  }
  .leftDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .rightDiv {
    padding: 5%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .curl {
    margin-left: -35%;
    margin-top: 2%;
    height: 20px;
    width: 100px;
  }
  .QrCode{
    display: none;
  }
  .heading {
    margin-top: 6%;
    font-size: 3rem;
    line-height: 3rem;
  }
  .subHeading p {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 20px;
  }
  .btnDiv {
    display: none;
  }
  .bankNumber {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    line-height: 27px;
  }
  .userText {
    font-size: 13px;
    font-weight: 400;
  }
  .images {
    margin-top: -25%;
    margin-left: -5%;
    height: 523px;
    width: auto;
  }
  .main {
    margin-top: -20%;
    align-items: center;
    text-align: center;
  }
  .DownloadApp {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    height: 50px;
    margin: auto;
    width: 250px;
    color: #000000;
    font-size: 1.5em;
    background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    border-radius: 16.2667px;
    justify-content: center;
  }
  .btntext {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 0.8rem;
    margin-top: -1rem;
    text-align: center;
    color: white;
  }
  .DownloadAppBtn {
    display: block;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -50%;
    height: 300px;
    background: rgba(38, 38, 38, 0.4);
    backdrop-filter: blur(37px);
  }
  .mobilebtn{
    display: block;
    position: absolute;
    top: 570px !important;
    margin: auto;
    width: 90%;
  }
}

@media screen and (min-width:320px) and (max-width: 640px) {
  .DownloadApp{
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    height: 50px;
    width: 250px;
    color: #000000;
    font-size: 1.5em;
    z-index: 89;
    background: linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    border-radius: 16.2667px;
    justify-content: center;
  }
  .btntext{
    font-family: 'ClashGrotesk-Extralight',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    margin-top: -1rem;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobilebtn{
    display: block;
    position: absolute;
    top: 550px;
    margin: auto;
    width: 90%;
  }
  .mainDiv {
    padding: 10px;
    margin-top: 10%;
    align-items: center;
    justify-content: space-around;
  }
  .leftDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .rightDiv {
    padding: 5%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .curl {
    margin-left: -35%;
    margin-top: 2%;
    height: 20px;
    width: 100px;
  }
  .QrCode{
    display: none;
  }
  .heading {
    margin-top: 6%;
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .subHeading p {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    padding-top: 5%;
    padding-bottom: 5%;
    margin: auto;
    width: 90%;
    text-align: center;
    font-size: 1rem;
    font-weight: 200;
    line-height: 20px;
  }
  .btnDiv {
    display: none;
  }
  .bankNumber {
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    line-height: 27px;
  }
  .userText {
    font-size: 13px;
    font-weight: 400;
  }
  .images {
    margin-top: -25%;
    margin-left: -5%;
    height: 523px;
    width: auto;
  }
  .main {
    margin-top: -20%;
    align-items: center;
    text-align: center;
  }
  .DownloadApp {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    height: 50px;
    margin: auto;
    width: 250px;
    color: #000000;
    font-size: 1.5em;
    background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    border-radius: 16.2667px;
    justify-content: center;
  }
  .btntext {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 0.8rem;
    margin-top: -1rem;
    text-align: center;
    color: white;
  }
  .DownloadAppBtn {
    display: block;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -50%;
    height: 300px;
    background: rgba(38, 38, 38, 0.4);
    backdrop-filter: blur(37px);
  }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
  .mainDiv {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 8%;
    position: relative;

  }
  .DownloadApp {
    display: none;
  }
  .btntext {
    display: none;
  }
  .DownloadAppBtn {
    display: none;
  }
  .leftDiv {
    padding-top: 5%;
    color: white;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .curl {
    padding-top: -100px;
    width: 30%;
    height: auto;
  }
  .QrCode {
    position: relative;
  }
  .qrCode {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    left: 95%;
    width: 10%;
    height: auto;
    margin-top: 0%;
  }
  .rightDiv {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phoneImg1 {
    position: relative;
    left: -220px;
    top: -100px;
    z-index: 8;
  }
  .phoneImg2 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 200px;
  }
  .heading {
    font-family: "ClashGrotesk-Semibold", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 6vw;
    padding-top: 10%;
    font-weight: 1000;
    line-height: 6vw;
  }
  .subHeading p {
    margin-top: 5%;
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    width: 100%;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .btnDiv {
    display: flex;
    justify-content: space-between;
    width: 60% !important;
  }
  .mainbtn {
    border-style: solid !important;
    border-image-source: linear-gradient(
      91.6deg,
      #afe2ed 0.62%,
      #a26aff 99.17%
    ) !important;
  }
  .bankDataDiv {
    background-color: transparent;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  .bankNumber {
    font-size: 1.7rem;
    font-weight: 600;
    text-align: center;
  }
  .userText {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    text-align: center;
    font-size: 1rem;
  }
  .images {
    padding-top: 10%;
    height: 100%;
    width: 150%;
  }
  .main {
    margin-top: 5%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .mainDiv {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10%;
    position: relative;
  }
  .leftDiv {
    padding-top: 3%;
    color: white;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .DownloadApp {
    display: none;
  }
  .btntext {
    display: none;
  }
  .DownloadAppBtn {
    display: none;
  }
  .curl {
    padding-top: -100px;
    width: 30%;
    height: auto;
  }
  .QrCode {
    position: relative;
  }
  .qrCode {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    left: 95%;
    width: 8%;
    height: auto;
    margin-top: -3%;
  }
  .rightDiv {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phoneImg1 {
    position: relative;
    left: -220px;
    top: -100px;
    z-index: 8;
  }
  .phoneImg2 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 200px;
  }
  .heading {
    font-family: "ClashGrotesk-Semibold", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 6vw;
    font-weight: 1000;
    line-height: 6vw;
  }
  .subHeading p {
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .btnDiv {
    display: flex;
    justify-content: space-between;
    width: 85% !important;
  }
  .mainbtn {
    border-style: solid !important;
    border-image-source: linear-gradient(
      91.6deg,
      #afe2ed 0.62%,
      #a26aff 99.17%
    ) !important;
  }
  .bankDataDiv {
    background-color: transparent;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  .bankNumber {
    padding-top: 0px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  .userText {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    text-align: center;
    font-size: 1.3rem;
  }
  .images {
    padding-top: 10%;
    height: 100%;
    width: 150%;
  }
  .main {
    margin-top: 5%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .mainDiv {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3%;
    position: relative;
  }
  .leftDiv {
    padding-top: 2%;
    color: white;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .DownloadApp {
    display: none;
  }
  .btntext {
    display: none;
  }
  .DownloadAppBtn {
    display: none;
  }
  .curl {
    padding-top: -100px;
    width: 30%;
    height: auto;
  }
  .QrCode {
    position: relative;
  }
  .qrCode {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    left: 95%;
    width: 8%;
    height: auto;
    margin-top: -3%;
  }
  .rightDiv {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phoneImg1 {
    position: relative;
    left: -220px;
    top: -100px;
    z-index: 8;
  }
  .phoneImg2 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 200px;
  }
  .heading {
    font-family: "ClashGrotesk-Semibold", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 6vw;
    font-weight: 1000;
    line-height: 6vw;
  }
  .subHeading p {
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .btnDiv {
    display: flex;
    justify-content: space-between;
    width: 70% !important;
  }
  .mainbtn {
    border-style: solid !important;
    border-image-source: linear-gradient(
      91.6deg,
      #afe2ed 0.62%,
      #a26aff 99.17%
    ) !important;
  }
  .bankDataDiv {
    background-color: transparent;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  .bankNumber {
    padding-top: 0px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  .userText {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    text-align: center;
    font-size: 1.3rem;
  }
  .images {
    padding-top: 10%;
    height: 100%;
    width: 150%;
  }
  .main {
    margin-top: 5%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1410px) {
  .mainDiv {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .leftDiv {
    padding-top: 0%;
    color: white;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .DownloadApp {
    display: none;
  }
  .btntext {
    display: none;
  }
  .DownloadAppBtn {
    display: none;
  }
  .curl {
    padding-top: -100px;
    width: 30%;
    height: auto;
  }
  .QrCode {
    position: relative;
  }
  .qrCode {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    left: 95%;
    width: 8%;
    height: auto;
    margin-top: -3%;
  }
  .rightDiv {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phoneImg1 {
    position: relative;
    left: -220px;
    top: -100px;
    z-index: 8;
  }
  .phoneImg2 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 200px;
  }
  .heading {
    font-family: "ClashGrotesk-Semibold", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 6vw;
    font-weight: 1000;
    line-height: 5vw;
  }
  .subHeading p {
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .btnDiv {
    display: flex;
    justify-content: space-between;
    width: 65% !important;
  }
  .mainbtn {
    border-style: solid !important;
    border-image-source: linear-gradient(
      91.6deg,
      #afe2ed 0.62%,
      #a26aff 99.17%
    ) !important;
  }
  .bankDataDiv {
    background-color: transparent;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  .bankNumber {
    padding-top: 0px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
  }
  .userText {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    text-align: center;
    font-size: 1.3rem;
  }
  .images {
    margin: 0% 30% 0% 0%;
    padding-top: 10%;
    height: 100%;
    width: 150%;
  }
  .main {
    margin-top: 0%;
  }
}

@media screen and (min-width: 1410px) and (max-width: 1600px) {
  .mainDiv {
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3%;
    position: relative;
  }
  .bottomSection{
    margin-top: 10%;
  }
  .leftDiv {
    width: 50%;
    color: white;
    display: flex;
    padding-left: 5%;
    padding-top: 3%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .curl {
    padding-top: -100px;
  }
  .QrCode {
    position: relative;
  }
  .qrCode {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    left: 95%;
    width: 8%;
    height: auto;
    margin-top: -3%;
  }
  .rightDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phoneImg1 {
    position: relative;
    left: -220px;
    top: -100px;
    z-index: 8;
  }
  .phoneImg2 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 200px;
  }
  .heading {
    font-family: ClashGrotesk-Medium, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    padding-top: 5%;
    font-size: 6vw;
    line-height: 6vw;
  }
  .subHeading p {
    padding-top: 5%;
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    width: 70%;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  .strong {
    font-family: "ClashGrotesk-Regular";
  }

  .btnDiv {
    display: flex;
    justify-content: space-between;
    width: 65% !important;
    padding-top: 5%;
  }

  .bankDataDiv {
    background-color: transparent;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  .bankNumber {
    font-family: ClashGrotesk-Medium, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    padding-top: 3rem;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .userText {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 25%;
  }
  .images {
    height: 100%;
    width: 113%;
  }
  .DownloadApp {
    display: none;
  }
  .btntext {
    display: none;
  }
  .DownloadAppBtn {
    display: none;
  }
  .main {
    margin-top: 0%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 2000px) {
  .mainDiv {
    background-color: black;
    display: flex;
    padding-top: 3%;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .bottomSection{
    margin-top: 20%;
  }
  .leftDiv {
    color: white;
    display: flex;
    padding-left: 5%;
    padding-top: 3%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .curl {
    padding-top: -100px;
  }
  .QrCode {
    position: relative;
  }
  .qrCode {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    left: 95%;
    width: 8%;
    height: auto;
    margin-top: -3%;
  }
  .rightDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phoneImg1 {
    position: relative;
    left: -220px;
    top: -100px;
    z-index: 8;
  }
  .phoneImg2 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 200px;
  }
  .heading {
    font-family: ClashGrotesk-Medium, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    padding-top: 5%;
    font-size: 6vw;
    line-height: 6vw;
  }
  .subHeading p {
    padding-top: 5%;
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    width: 70%;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  .strong {
    font-family: "ClashGrotesk-Regular";
  }

  .btnDiv {
    display: flex;
    justify-content: space-between;
    width: 65% !important;
    padding-top: 5%;
  }

  .bankDataDiv {
    background-color: transparent;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  .bankNumber {
    font-family: ClashGrotesk-Medium, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    padding-top: 3rem;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .userText {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 25%;
  }
  .images {
    height: 100%;
    width: 113%;
  }
  .DownloadApp {
    display: none;
  }
  .btntext {
    display: none;
  }
  .DownloadAppBtn {
    display: none;
  }
}
@media screen and (min-width: 2000px) and (max-width: 2560px) {
  .mainDiv {
    background-color: black;
    display: flex;
    padding-top: 3%;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .bottomSection{
    margin-top: 20%;
  }
  .leftDiv {
    color: white;
    display: flex;
    padding-left: 5%;
    padding-top: 3%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
  }
  .curl {
    padding-top: -100px;
  }
  .QrCode {
    position: relative;
  }
  .qrCode {
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    left: 95%;
    width: 8%;
    height: auto;
    margin-top: -3%;
  }
  .rightDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phoneImg1 {
    position: relative;
    left: -220px;
    top: -100px;
    z-index: 8;
  }
  .phoneImg2 {
    position: absolute;
    z-index: 6;
    top: 0px;
    left: 200px;
  }
  .heading {
    font-family: ClashGrotesk-Medium, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    padding-top: 5%;
    font-size: 6vw;
    line-height: 6vw;
  }
  .subHeading p {
    padding-top: 5%;
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    width: 70%;
    font-size: 1.3rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
  }
  .strong {
    font-family: "ClashGrotesk-Regular";
  }

  .btnDiv {
    display: flex;
    justify-content: space-between;
    width: 65% !important;
    padding-top: 5%;
  }

  .bankDataDiv {
    background-color: transparent;
    position: relative;
    top: -100px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
  }
  .bankNumber {
    font-family: ClashGrotesk-Medium, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    padding-top: 3rem;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
  .userText {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 25%;
  }
  .images {
    height: 100%;
    width: 113%;
  }
  .DownloadApp {
    display: none;
  }
  .btntext {
    display: none;
  }
  .DownloadAppBtn {
    display: none;
  }
}