.mainDiv {
  padding: 70px 130px 70px 130px;
  position: relative;
  margin: 60px 0px;
}
.title {
  padding: 60px 80px;
  background: linear-gradient(
    265.43deg,
    rgba(220, 191, 224, 0.1) 2.36%,
    rgba(154, 170, 170, 0.1) 94.29%
  );
  backdrop-filter: blur(67px);
  border-radius: 52px;
  border-radius: 50px;
}
.head {
  font-family: "ClashGrotesk-Semibold", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.subhead {
  font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.8;
}
.bottomImage {
  position: absolute;
  top: -25%;
  left: 50%;
  height: 150%;
  width: 60%;
}
.topImage {
  display: none;
}
.storebuttons {
  padding: 2px;
  display: flex;
  flex-direction: row;
  width: 121%;
}
.MobileParagraph {
  display: none;
}

@media screen and (max-width: 640px) {
  .mainDiv {
    padding: 5% 0% 5% 0%;
    margin: 0% 0%;
    /* border-radius: 40%; */
    background-color: blue;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    padding: 0% 8%;
    display: flex;
    border-radius: 10%;
    flex-direction: column;
    background: linear-gradient(
      265.43deg,
      rgba(220, 191, 224, 0.1) 2.36%,
      rgba(154, 170, 170, 0.1) 94.29%
    );
    backdrop-filter: blur(67px);
  }
  .head {
    width: 100%;
    margin: auto;
    font-size: 2rem;
    margin-top: 20%;
    margin-bottom: 10%;
    word-wrap: break-word;
    text-align: center;
    background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .leftDiv {
    width: 100%;
  }
  .rightDiv {
    display: none;
  }
  .subhead {
    display: none;
    text-align: center;
    font-style: normal;
    line-height: 100%;
    color: #ffffff;
    opacity: 0.8;
  }
  .MobileParagraph {
    display: block;
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    width: 80%;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    word-wrap: break-word;
    line-height: 100%;
    color: #ffffff;
    opacity: 0.8;
  }
  .bottomImage {
    display: none;
  }
  .topImage {
    width: 234%;
    height: auto;
    margin-top: -20%;
    margin-bottom: -10%;
    display: block;
    margin-left: -71%;
    /* display: flex;
    flex-direction: column;
    display: block;
    margin-top: -11%;
    margin-bottom: -7%;
    margin-left: -1%;
    height: 89vh;
    align-items: center;
    text-align: center;
    float: left;
    width: 95vh; */
  }
  .storebuttons {
    margin: auto;
    padding: 0% 0% 15% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .lastDiv {
    width: 100%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .mainDiv {
    padding: 35px 65px 35px 65px;
    position: relative;
    margin: 10px;
  }
  .leftDiv {
    width: 50%;
  }
  .rightDiv {
    display: block;
    width: 50%;
  }
  .title {
    padding: 30px 40px;
    background: linear-gradient(
      265.43deg,
      rgba(220, 191, 224, 0.1) 2.36%,
      rgba(154, 170, 170, 0.1) 94.29%
    );
    backdrop-filter: blur(67px);
    border-radius: 52px;
    border-radius: 50px;
  }
  .head {
    font-family: "ClashGrotesk-Semibold", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .subhead {
    font-family: "ClashGrotesk-Extralight", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1rem;
    line-height: 80%;
    color: #ffffff;
    opacity: 0.8;
  }
  .bottomImage {
    position: absolute;
    top: -6%;
    left: 35%;
    height: 113%;
    width: 74%;
  }
  .topImage {
    display: none;
  }
  .storebuttons {
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }
  .MobileParagraph {
    display: none;
  }
}
