@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.mainDiv {
  padding: 70px 130px 70px 130px;
  position: relative;
}
.title {
  padding: 60px 80px;
  background: linear-gradient(
    265.43deg,
    rgba(220, 191, 224, 0.1) 2.36%,
    rgba(154, 170, 170, 0.1) 94.29%
  );
  backdrop-filter: blur(67px);
  border-radius: 52px;
  border-radius: 50px;
}
.head {
  font-family: "ClashGrotesk-Semibold";
  font-weight: 200;
  background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.subhead {
  font-family: "ClashGrotesk-Extralight";
  font-style: normal;
  font-weight: 100;
  font-size: 24px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.8;
}
.bottomImage {
  position: absolute;
  top: -25%;
  left: 50%;
  height: 150%;
  width: 60%;
}
.topImage {
  display: none;
}
.storebuttons {
  padding: 2px;
  display: flex;
  flex-direction: row;
  width: 121%;
}
.MobileParagraph {
  display: none;
}

@media screen and (max-width: 640px) {
  .mainDiv {
    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .title {
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
      265.43deg,
      rgba(220, 191, 224, 0.1) 2.36%,
      rgba(154, 170, 170, 0.1) 94.29%
    );
    backdrop-filter: blur(67px);
    border-radius: 52px;
    border-radius: 50px;
  }
  .head {
    margin-top: 20%;
    text-align: center;
    background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .leftDiv {
    width: 100%;
  }
  .rightDiv {
    width: 100%;
  }
  .subhead {
    display: none;
    text-align: center;
    font-style: normal;
    line-height: 100%;
    color: #ffffff;
    opacity: 0.8;
  }
  .MobileParagraph {
    display: block;
    font-family: "ClashGrotesk-Extralight", "";
    width: 85%;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    line-height: 100%;
    color: #ffffff;
    opacity: 0.8;
  }
  .bottomImage {
    display: none;
  }
  .topImage {
    display: flex;
    flex-direction: column;
    display: block;
    margin: auto;
    height: 430px;
    width: auto;
  }
  .storebuttons {
    margin-left: 5%;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .lastDiv {
    width: 100%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .mainDiv {
    padding: 35px 65px 35px 65px;
    position: relative;
  }
  .leftDiv {
    width: 50%;
  }
  .rightDiv {
    width: 50%;
  }
  .title {
    padding: 30px 40px;
    background: linear-gradient(
      265.43deg,
      rgba(220, 191, 224, 0.1) 2.36%,
      rgba(154, 170, 170, 0.1) 94.29%
    );
    backdrop-filter: blur(67px);
    border-radius: 52px;
    border-radius: 50px;
  }
  .head {
    font-family: "ClashGrotesk-Semibold";
    font-weight: 200;
    font-size: 1.5rem;
    background: linear-gradient(91.6deg, #afe2ed 0.62%, #a26aff 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .subhead {
    font-family: "ClashGrotesk-Extralight";
    font-style: normal;
    font-weight: 100;
    font-size: 1rem;
    line-height: 80%;
    color: #ffffff;
    opacity: 0.8;
  }
  .bottomImage {
    position: absolute;
    top: -13%;
    left: 45%;
    height: 127%;
    width: 66%;
  }
  .topImage {
    display: none;
  }
  .storebuttons {
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
  }
  .MobileParagraph {
    display: none;
  }
}
