.mainDiv {
  padding: 130px;
  position: relative;
}
.title {
  padding: 60px 100px;
  background: linear-gradient(
    265.43deg,
    rgba(220, 191, 224, 0.1) 2.36%,
    rgba(154, 170, 170, 0.1) 94.29%
  );
  backdrop-filter: blur(67px);
  border-radius: 52px;
  border-radius: 50px;
}

@media screen and (max-width: 640px) {
  .mainDiv{
    padding: 0px;
  }
  .title{
    padding: 0px;
  }
  .head{
    padding: 0px;
  }
}
/* @media screen and (max-width: 1024px) {
  .mainDiv {
    padding: 0px;
    position: relative;
  }
  .title {
    padding: 60px 100px;
    background: linear-gradient(
      265.43deg,
      rgba(220, 191, 224, 0.1) 2.36%,
      rgba(154, 170, 170, 0.1) 94.29%
    );
    backdrop-filter: blur(67px);
    border-radius: 52px;
    border-radius: 50px;
  }
  .subhead {
    width: 369px;
    height: 154px;
    left: 29.15px;
    top: 11995px;
    font-family: "Clash Grotesk Display";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
  }
} */