.mainDiv {
  width: 100%;
  margin: auto;
}
.subheading {
  font-family: 'ClashGrotesk-Semibold';
  line-height: 120%;
  margin-left: 10%;
  color: #ffffff;
}
.Read{
  font-family: 'ClashGrotesk-Extralight';
  font-size: 1.5rem;
  margin-left: 10%;
  color: #ffffff;
}
.header{
  font-size: 1.5rem;
  font-family: 'ClashGrotesk-Medium';
  color: #ffffff;
}
.headpoint{
  padding: 100px 0px;

}
.SubHeader{
  font-size: 1rem;
  font-family: 'ClashGrotesk-Light';
  color: #ffffff;
}

@media screen and (max-width: 640px) {
  .mainDiv{
    padding: 5%;
  }
  .header{
    font-size: 1rem;
    font-family: 'ClashGrotesk-Medium';
    color: #ffffff;
  }
  .SubHeader{
    font-size: 1rem;
    font-family: 'ClashGrotesk-Light';
    color: #ffffff;
  }
  .heading {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
  }
  .subheading {
    font-family: 'ClashGrotesk-Medium';
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: white;
  }
  .image {
    width: 35px;
    height: 35px;
  }
  .headpoint{
    padding: 0px;
  }
  .Read{
    padding-top: 5%;
    padding-bottom: 10%;
    margin: auto;
    text-align: center;
    font-size: 17px;
    width: 70%;
    color: white;
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px){
  .heading {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
  }
  .subheading {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: white;
  }
  .image {
    padding-left: 0px;
    /* padding-top: ; */
  }
  .headpoint{
    padding: 100px 0px;
  }
  .Read{
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
}

@media  screen and (min-width: 1024px) and (max-width: 1280px) {
  .heading {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
  }
  .subheading {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: white;
  }
  .image {
    padding-left: 0px;
    /* padding-top: ; */
  }
  .headpoint{
    padding: 0px;
  }
  .Read{
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
}
