.mainDiv {
  width: 100%;
  margin: auto;
  position: relative;
}
.subheading {
  font-family: 'ClashGrotesk-Semibold';
  line-height: 120%;
  margin-left: 10%;
  color: #ffffff;
}
.Read{
  font-family: 'ClashGrotesk-Extralight';
  font-size: 1.5rem;
  margin-left: 10%;
  color: #ffffff;
}
.header{
  font-size: 1.5rem;
  font-family: 'ClashGrotesk-Medium';
  color: #ffffff;
}
.headpoint{
  margin-top: -5%;
}
.SubHeader{
  font-size: 1.3rem;
  font-family: 'ClashGrotesk-Light';
  color: #ffffff;
}
.image{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  opacity: 0.7;
}

@media screen and (max-width: 640px) {
  .mainDiv {
    padding: 5%;
    width: 100%;
    margin: auto;
    position: relative;
  }
  .header{
    font-size: 1rem;
    font-family: 'ClashGrotesk-Medium';
    color: #ffffff;
    opacity: 1;
  }
  .SubHeader{
    font-size: 1rem;
    font-family: 'ClashGrotesk-Light';
    color: #ffffff;
    opacity: 0.36;
  }
  .heading {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
  }
  .subheading {
    font-family: 'ClashGrotesk-Medium';
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    margin: auto;
    text-align: center;
    color: white;
    opacity: 1;
  }
  .mainDiv{
    
  }
  .image {
    position: absolute;
    left: 80%;
    top: 55%;
  }
  .headpoint{
    padding: 0px;
  }
  .Read{
    padding-bottom: 10%;
    margin: auto;
    text-align: center;
    font-size: 17px;
    width: 70%;
    color: white;
    opacity: 1;
  }
}

@media screen and (min-width: 640px) and (max-width: 770px){
  .mainDiv {
    padding: 0%;
    width: 100%;
    margin: auto;
    position: relative;
  }
  .subheading {
    font-family: 'ClashGrotesk-Semibold';
    line-height: 3rem;
    margin-left: -2%;
    margin-top: 0%;
    color: #ffffff;
  }
  .Read{
    font-family: 'ClashGrotesk-Extralight';
    font-size: 1.5rem;
    margin-left: -2%;
    color: #ffffff;
  }
  .header{
    font-size: 1rem;
    font-family: 'ClashGrotesk-Regular';
    color: #ffffff;
  }
  .headpoint{
    margin-top: -5%;
  }
  .SubHeader{
    font-size: 1rem;
    font-family: 'ClashGrotesk-Extralight';
    color: #ffffff;
  }
  .image {
    position: absolute;
    left: 55%;
    top: 22%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px){
  .heading {
    margin-left: -10%;
    color: white;
  }
  .subheading {
    margin-top: -7%;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    margin-left: -2%;
    line-height: 120%;
    text-align: center;
    color: white;
  }
  .image{
    margin-top: -7%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
  }
  .headpoint{
    padding: 0px;
  }
  .Read{
    font-family: 'ClashGrotesk-Extralight';
    font-size: 1.5rem;
    margin-left: -2%;
    color: #ffffff;
    padding-bottom: 5%;
  }
}
/* 
@media  screen and (min-width: 1024px) and (max-width:1280px) {
  .heading {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
  }
  .subheading {
    margin-top: -7%;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: white;
  }
  .image {
    padding-left: 0px;
    margin-top: -7%;
  }
  .headpoint{
    padding: 0px;
  }
  .Read{
    margin-left: -11%;
    text-align: center;
    font-size: 20px;
  }
} */
