.mainDiv {
  width: 100%;
  margin: auto;
}
.subheading {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  color: #ffffff;
  opacity: 0.36;
}

@media screen and (max-width: 640px) {
  .mainDiv{
    padding: 5%;
  }
  .heading {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
  }
  .subheading {
    font-family: 'ClashGrotesk-Medium';
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: white;
    opacity: 1;
  }
  .image {
    width: 35px;
    height: 35px;
  }
  .headpoint{
    padding: 0px;
  }
  .Read{
    margin: auto;
    text-align: center;
    font-size: 17px;
    width: 70%;
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px){
  .heading {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
  }
  .subheading {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: white;
  }
  .image {
    padding-left: 0px;
    /* padding-top: ; */
  }
  .headpoint{
    padding: 0px;
  }
  .Read{
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
}

@media  screen and (min-width: 1024px) and (max-width: 1280px) {
  .heading {
    margin: auto;
    align-items: center;
    text-align: center;
    color: white;
  }
  .subheading {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 120%;
    text-align: center;
    color: white;
  }
  .image {
    padding-left: 0px;
    /* padding-top: ; */
  }
  .headpoint{
    padding: 0px;
  }
  .Read{
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
}
