.StoriesSection {
  padding: 100px;
  align-items: center;
  text-align: center;
}

.button {
  height: 30px;
  width: 80px;
}
.cardSection{
  border:2px solid red;
  padding: 30px 151px 80px;
}
.description{
font-family: 'ClashGrotesk-Light';
font-style: normal;
font-weight: 400;
font-size: 1.3rem;
line-height: 140%;
color: #FFFFFF;
}

@media screen and (max-width: 640px) {
  .maindev {
    padding-top: 15%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
  .LeftDiv{
    width: 100%;
  }
  .RightDiv{
    width: 100%;
  }
  .storiesbtn {
    display: none;
  }
  .StoriesSection {
    width: 100%;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .description{
    font-family: 'ClashGrotesk-Light';
    font-size: 1rem;
    line-height: 140%;
    color: #FFFFFF;
    }
  .button {
    display: none;
  }
  .cardSection{
    padding: 0px;
  }

  
}
@media screen and (min-width:640px) and (max-width: 1024px) {
  .button {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .button {
    height: 30px;
    width: 80px;
  }
}
