.flex {
  display: flex;
  flex-direction: row;
}

.StoriesSections {
  font-family: "ClashGrotesk-Medium", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif !important;
  align-items: center;
  text-align: start;
  margin-left: 10%;
}

.RightDiv {
  position: relative;
}

.button {
  position: absolute;
  right: 100%;
  height: 30px;
  width: 80px;
}

.cardSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px 80px;

}

.cardStory {
  margin: 20px;
  width: 350px;
}

.description {
  font-family: "ClashGrotesk-Light", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif !important;
  font-size: 1.5rem;
  margin-left: 10%;
  line-height: 140%;
  color: #ffffff;
}

.cardSize {
  margin: 1rem;
  min-width: 200px;
}

.moreStoriesText {
  display: none;
}

@media screen and (max-width: 640px) {
  .moreStoriesText {
    display: block;
    cursor: pointer;
    background: linear-gradient(91.6deg, #AFE2ED 0.62%, #A26AFF 99.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 22px;
    /* text-fill-color: transparent; */
  }
  .storiesLine{
    margin: 0px !important;
    background-image: linear-gradient(to right, #AFE2ED 0.62%, #A26AFF 99.17%) !important;
    height: 1px;
    border: none;
  }
  .maindev {
    padding-top: 5%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .LeftDiv {
    width: 100%;
  }

  .RightDiv {
    width: 100%;
  }

  .storiesbtn {
    display: none;
  }

  .StoriesSections {
    font-family: "ClashGrotesk-Semibold";
    width: 100%;
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .description {
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    margin: auto;
    width: 80%;
    text-align: center;
    line-height: 140%;
    color: #ffffff;
  }

  .button {
    display: none;
  }

  .cardSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: scroll;
  }

  .cardStory {
    margin: 10px;
  }

}

@media screen and (min-width:640px) and (max-width:770px) {
  .StoriesSections {
    font-family: "ClashGrotesk-Semibold";
    width: 100%;
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .description {
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    margin: auto;
    width: 80%;
    text-align: center;
    line-height: 140%;
    color: #ffffff;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {

  .flex {
    display: flex;
    flex-direction: row;
  }

  .StoriesSections {
    font-family: "ClashGrotesk-Medium", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    align-items: center;
    text-align: start;
    font-size: 2rem;
    margin-left: 10%;
  }

  .RightDiv {
    position: relative;
  }

  .button {
    position: absolute;
    right: 100%;
    height: 30px;
    width: 80px;
  }

  .cardSection {
    padding: 5%;
  }

  .description {
    font-family: "ClashGrotesk-Light", system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif !important;
    font-size: 1rem;
    margin-left: 10%;
    line-height: 140%;
    color: #ffffff;
  }

  .cardSize {
    margin: 1rem;
    min-width: 200px;
  }
}

@media screen and (min-width:640px) and (max-width: 768px) {
  .cardSection {
    padding: 0px;
    width: 100% !important;
    flex-shrink: 0;
    overflow-x: scroll !important;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .button {
    height: 30px;
    width: 80px;
  }
}