.description{
  font-size: 20px;
  color: #BABABA;
  text-align: center;
}

.phoneArrow{
  display: none;
}
.cardStyle{
  width: 14rem;
   margin: 20px
}
@media  screen and (max-width: 640px) {
  .description{
    font-size:15px;
    font-weight: 100;
    line-height: 20px;
    text-align: center;
  }
  .leftBtnDiv,.rightBtnDiv{
    display: none;
  }
  .phoneArrow{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
  .cardStyle{
    width: 10rem;
     margin: 20px
  }
  .phoneArrowImg{
    height: 40px;
    width: 60px;
  }
}

@media screen and (min-width:640px) and (max-width:768px) {
  .cardStyle{
    width: 10rem;
     margin: 10px
  }
  .phoneArrow{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
  }
}
@media screen and (min-width:768px) {
  .cardStyle{
    width: 15rem;
     margin: 10px
  }
}