/* ------------ Token Section ------------ */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.mainDiv {
  padding: 100px;
  background-color: #2d2d2d;
  margin-top: -20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.tokenDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  width: 100%;
  padding: 100px 0px;
}
.leftDiv {
  width: 40%;
}
.rightDiv {
  width: 40%;
}
.text {
  font-size: 76px;
  line-height: 85px;
  font-weight: 700;
}
.subText {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 50px;
}
.firstcolumn{
  display: flex;
  flex-direction: inherit;
 }
@media screen and (max-width: 640px) {

 .mainDiv{
  display: none;
 }

}
@media screen and (max-width: 1024px) {
  
 .mainDiv{
  display: none;
 }

 .button{
  display: none;
 }

}
