/* ------------ Token Section ------------ */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.mainDiv {
  padding: 100px;
  background-color: #2d2d2d;
  margin-top: -20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.tokenDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  width: 100%;
  padding: 100px 0px;
}
.leftDiv {
  width: 40%;
}
.rightDiv {
  width: 40%;
}
.text {
  font-size: 76px;
  line-height: 85px;
  font-weight: 700;
}
.subText {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 50px;
}

@media screen and (min-width: 300px) and (max-width: 764px) {

 .mainDiv{
  /* margin-top: -70px; */
  align-items: center;
  padding: 0px;
 }

 .tokenDiv{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 0px;
 }
 .firstcolumn{
  display: flex;
  flex-direction: column-reverse;
  color: white;
 }
 .secColumn{
  display: flex;
  flex-direction: column-reverse;
  color: white;
 }

 .button{
  display: none;
 }

 .text{
  font-weight: none;
  width: max-content;
  margin: 0px;
  padding: 0px;
 }
 .paragrapgh{
  font-family: 'Abel', sans-serif;
 }

 .image1{
  margin-top: 40px;
  height: 100px;
  width: 100px;
 }
 .text1{
  margin: auto;
 }
 .image2{
  height: 100px;
  width: 100px;
 }
  .image3{
  height: 100px;
  width: 100px;
 }

 .text{
  font-size: 35px;
 }

}
