/* ------------ Token Section ------------ */

.mainDiv {
  padding: 100px;
  background-color: #2d2d2d;
  margin-top: -20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.tokenDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  width: 100%;
  padding: 100px 0px;
}
.leftDiv {
  width: 50%;
  align-items: center;
}
.rightDiv {
  text-align: center;
}
.leftDiv2 {
  width: 50%;
  text-align: center;
}
.rightDiv2 {
  width: 50%;
}
.text1 {
  font-family: 'ClashGrotesk-Semibold',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.5rem;
  line-height: 4rem;
}
.text2 {
  font-family: 'ClashGrotesk-Semibold',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.5rem;
  line-height: 4rem;
}
.text3 {
  font-family: 'ClashGrotesk-Semibold',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 3.5rem;
  line-height: 4rem;
}
.subText {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 50px;
}
.image1{
  width: 300px;
  height: auto;
  margin: auto;
}
.image2{
  width: 300px;
  height: auto;
}
.image3{
  align-items: center;
  width: 280px;
  height: auto;
}
.firstcolumn {
  display: flex;
  flex-direction: inherit;
}

.paragraph {
  font-family: 'ClashGrotesk-Extralight',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 5%;
  width: 60%;
  padding-bottom: 5%;
  font-size: 1.1rem;
}

@media screen and (max-width: 640px) {
  .mainDiv {
    padding: 5%;
    background-color: #2d2d2d;
    margin-top: -20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .tokenDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
    padding: 100px 0px;
  }
  .firstcolumn {
    margin-top: 10%;
    display: flex;
    flex-direction: column-reverse;
  }
  .leftDiv {
    width: 100%;
  }
  .rightDiv {
    text-align: start;
  }
  .leftDiv2 {
    width: 100%;
    text-align: start;
  }
  .rightDiv2 {
    width: 100%;
  }
  .image1 {
    width: 41%;
    height: 110%;
  }
  .secondColumn {
    display: flex;
    flex-direction: column;
  }
  .image2 {
    width: 41%;
    height: 110%;
  }
  .ThirdColumn {
    display: flex;
    flex-direction: column-reverse;
  }
  .image3 {
    width: 41%;
    height: 110%;
  }
  .text1 {
    font-family: 'ClashGrotesk-Semibold',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
  .text2 {
    font-family: 'ClashGrotesk-Semibold',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
  .text3 {
    font-family: 'ClashGrotesk-Semibold',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    line-height: 120%;
  }
  .paragraph {
    font-family: 'ClashGrotesk-Extralight',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 5%;
    width: 90%;
    padding-bottom: 5%;
    font-size: 1.1rem;
  }
}










@media screen and (min-width: 640px) and (max-width: 770px) {
  .mainDiv {
    padding: 5%;
    background-color: #2d2d2d;
    margin-top: -20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .tokenDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
    padding: 100px 0px;
  }
  .firstcolumn, .secondColumn, .ThirdColumn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .leftDiv {
    width: 60%;
  }
  .rightDiv {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .leftDiv2 {
    width: 40%;
    display: flex;
    text-align: center;
  }
  .rightDiv2 {
    width: 60%;
  }
  .image1,.image2, .image3 {
    width: 70%;
    height: 60%;
  }
  .secondColumn {
    display: flex;
    flex-direction: row;
  }
  .paragraph{
    width: 100%;
  }
  .image2 {
    width: 200px;
    height: auto;
    margin: auto;
  }
  .ThirdColumn {
    display: flex;
    flex-direction: row;
  }
  .image3 {
    width: 200px;
    height: auto;
    margin: auto;
  }
  .text1 {
    font-family: 'ClashGrotesk-Semibold';
    font-size: 3rem;
    line-height: 3rem;
  }
  .text2 {
    font-family: 'ClashGrotesk-Semibold';
    font-size: 3rem;
    line-height: 3rem;
  }
  .text3 {
    font-family: 'ClashGrotesk-Semibold';
    font-size: 3rem;
    line-height: 3rem;
  }
  .subText {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 50px;
  }
}

























@media screen and (min-width: 770px) and (max-width: 1024px) {
  .mainDiv {
    padding: 5%;
    background-color: #2d2d2d;
    margin-top: -20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .tokenDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 100%;
    padding: 100px 0px;
  }
  .firstcolumn {
    display: flex;
    flex-direction: row;
  }
  .leftDiv {
    width: 50%;
  }
  .rightDiv {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paragraph{
    font-family: 'ClashGrotesk-Extralight';
    padding-top: 5%;
    width: 100%;
    padding-bottom: 5%;
    font-size: 1.3rem;
  }
  .secondColumn {
    display: flex;
    flex-direction: row;
  }
  .image1 {
    width: 250px;
    height: auto;
    margin: auto;
  }
  .ThirdColumn {
    display: flex;
    flex-direction: row;
  }
  .image2 {
    width: 250px;
    height: auto;
    margin: auto;
  }
  .leftDiv2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text {
    font-size: 76px;
    line-height: 85px;
    font-weight: 700;
  }
  .paragraph {
    font-size: 24px;
    line-height: 35px;
  }
}
