/* --------------transaction section---------- */

.transactionDiv {
  background-color: rgb(30, 27, 27);
  padding-top: 100px;
  padding-left: 18%;
  padding-right: 5%;
  margin-top: -33px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.phoneImg {
  display: flex;
  justify-content: center;
  margin-left: -150px;
}
.img {
  margin-top: 100px;
}

.mobile {
  height: 700px;
  align-items: center;
}
.textDiv {
  position: relative;
  top: 0px;
  display: flex;
}
.heading {
  font-size: 90px;
  font-weight: 700;
  line-height: 100px;
  color: white;
  position: relative;
  top: 100px;
}
.fasterText {
  display: flex;
}
.transactionHeading {
  font-size: 90px;
  font-weight: 700;
  line-height: 100px;
  /* margin-right: 13%; */
  color: white;
  position: relative;
  top: -240px;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 640px) {
  .transactionDiv {
  background-color: rgb(30, 27, 27);
  padding-top: 100px;
  padding-left: 5%; 
  padding-right: 0px; 
  margin-top: -33px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  }

  .img {
    height: 40px;
    width: 50px;
    margin-top: -70px;
    padding-left: -100px;
  }

  .mobile {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    align-items: center;
    margin-left: -20%;
  }

  .heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    margin-top: -180px;
    margin-left: -30%;
    padding-left: 30%;
  }

  .transactionHeading {
    position: relative;
    top: -670px;
    left: -20%;
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    color: white;
    justify-content: flex-end;
  }
}
