/* --------------transaction section---------- */

.transactionDiv {
  background-color: rgb(30, 27, 27);
  padding-top: 100px;
  padding-left: 18%;
  padding-right: 5%;
  margin-top: -33px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.phoneImg {
  display: flex;
  justify-content: center;
  margin-left: -150px;
}
.img {
  margin-top: 0px;
}

.mobile {
  height: 700px;
  align-items: center;
}
.textDiv {
  position: relative;
  top: 0px;
  display: flex;
}
.heading {
  font-size: 90px;
  font-weight: 900;
  line-height: 100px;
  color: white;
  position: relative;
  top: 100px;
  left: -70%;
}
.fasterText {
  display: flex;
}
.transactionHeading {
  font-size: 90px;
  font-weight: 900;
  line-height: 100px;
  color: white;
  position: relative;
  top: 550px;
  left: -30%;
}

@media screen and (max-width: 640px) {
  .transactionDiv {
    background-color: rgb(30, 27, 27);
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 0px;
    margin-top: -33px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .img {
    height: 15%;
    width: 15%;
    /* margin-top: -; */
    padding-left: -100px;
  }

  .mobile {
    height: 641px;
    padding-top: 30%;
    justify-content: center;
  }
  .phoneImg {
    display: flex;
    justify-content: center;
    padding-right: 10%;
    margin-top: 20%;
  }

  .heading {
    font-size: 2rem;
    font-weight: 900;
    line-height: 25px;
    /* margin-top: -180px; */
    margin-left: -30%;
    padding-left: 30%;
  }

  .transactionHeading {
    position: relative;
    top: -590px;
    left: -20%;
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    color: white;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px) {
  .transactionDiv {
    background-color: rgb(30, 27, 27);
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 0px;
    margin-top: -33px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .mobile {
    padding-top: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .heading {
    font-size: 5rem;
    font-weight: 900;
    line-height: 50px;
    margin-left: -30%;
    padding-left: 30%;
  }

  .transactionHeading {
    position: relative;
    top: -580px;
    left: -20%;
    font-size: 5rem;
    font-weight: 900;
    line-height: 50px;
    color: white;
    justify-content: flex-end;
  }
}
