.userDiv {
    display: "inline-block";
    width: 150%;
    height: fit-content;
    display: flex;
    color: white
}

.playstoreImg {
    width: 30px;
    height: 30px;
}

.starImg {
    height: 20px;
    width: 20px;
}

.starDiv {
    padding-top: 6px;
}

.mobileData {
    display: none;
}

.userSayCard {
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    width: 600px
}

.userSayCard:hover {
    border-color: rgba(175, 226, 237, 1) rgba(162, 106, 255, 1);
    border-width: 1px 4px 5px 1px;
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .userDiv {
        width: 200%;
    }

    .cara123 {
        display: flex;
        flex-direction: row;
        width: 100% !important;
        overflow-x: auto !important;
        color: white;
        padding: 20px;
    }
}

@media screen and (min-width:640px) and (max-width:768px) {
    .userDiv {
        width: 250%;
    }

    .cara123 {
        display: flex;
        flex-direction: row;
        width: 100% !important;
        overflow-x: auto !important;
        color: white;
        padding: 20px;
    }
}

@media screen and (max-width:640px) {
    .cara123 {
        display: flex;
        flex-direction: row;
        width: 100% !important;
        overflow-x: auto !important;
        color: white;
        padding: 20px;
    }

    .userDiv {
        width: 500%;
    }

    .playstoreImg {
        width: 20px;
        height: 20px;
    }

    .starImg {
        height: 16px;
        width: 16px;
    }

    .starDiv {
        padding-top: 20px;
    }

    .desktopData {
        display: none;
    }

    .mobileData {
        display: flex;
        flex-direction: row;
        width: 100% !important;
        overflow-x: scroll !important;
        color: white;
        padding: 20px;
    }

    .userSayCard {
        border: 1px solid white;
        border-radius: 20px;
        padding: 30px;
        margin: 30px;
        cursor: pointer !important;
        width: 300px;
        transition: border-color 0.3s ease-in-out, border-width 0.3s ease-in-out;
      }
      
      .userSayCard:hover {
        border-color: rgba(175, 226, 237, 1) rgba(162, 106, 255, 1);
        border-width: 1px 4px 5px 1px;
      }
      
}