.userDiv {
    display: inline-block;
    width: 150%;
    height: fit-content;
    display: flex;
    color: white
}

.heading {
    font-family: "ClashGrotesk-Semibold";
    font-size: 60px;
}

.subHeading {
    font-family: "ClashGrotesk-Regular";
    font-size: 22px;
}

.playstoreImg {
    width: 30px;
    height: 30px;
}

.starImg {
    height: 20px;
    width: 20px;
}

.starDiv {
    padding-top: 6px;
}

.mobileData {
    display: none;
}

.userSayCard {
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    width: 600px;
}

.userSayCard:hover {
    border-color: rgba(175, 226, 237, 1) rgba(162, 106, 255, 1);
    box-shadow: 5px 5px rgba(162, 106, 255);
}

.desktopData {
    padding-bottom: 50px;
}

@media screen and (min-width:769px) and (max-width:1024px) {

    .userDiv {
        width: 200%;
    }

    .heading {
        font-family: "ClashGrotesk-Semibold";
        font-size: 44px;
    }

    .subHeading {
        font-family: "ClashGrotesk-Regular";
        font-size: 20px;
    }
}

@media screen and (min-width:640px) and (max-width:768px) {

    .userDiv {
        width: 250%;
    }

    .heading {
        font-family: "ClashGrotesk-Semibold";
        font-size: 42px;
    }

    .subHeading {
        font-family: "ClashGrotesk-Regular";
        font-size: 18px;
    }
}

@media screen and (max-width:640px) {

    .heading {
        font-family: "ClashGrotesk-Semibold";
        font-size: 36px;
    }

    .subHeading {
        font-family: "ClashGrotesk-Regular";
        font-size: 16px;
    }

    .userDiv {
        width: 500%;
    }

    .playstoreImg {
        width: 20px;
        height: 20px;
    }

    .starImg {
        height: 16px;
        width: 16px;
    }

    .starDiv {
        padding-top: 20px;
    }

    .desktopData {
        display: none;
    }

    .mobileData {
        display: flex;
        flex-direction: row;
        width: 100% !important;
        overflow-x: scroll !important;
        color: white;
        padding: 20px;
    }

    .userSayCard {
        border: 1px solid white;
        border-radius: 20px;
        padding: 30px;
        margin: 30px;
        overflow-x: scroll !important;
        cursor: pointer !important;
        width: 300px;
        scroll-snap-type: x mandatory;
        transition: border-color 0.3s ease-in-out, border-width 0.3s ease-in-out;
    }

    .userSayCard:hover {
        border-color: rgba(175, 226, 237, 1) rgba(162, 106, 255, 1);
    }

}