/* ----------Video Section------------ */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

.videoDiv {
  background-color: #7f4bc4;
  text-align: center;
  position: relative;
  color: white;
  padding: 80px;
  margin-top: -20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.playVideo {
  position: relative;
  z-index: 10;
  top: 100;
  position: absolute;
  top: 56%;
  left: 48%;
}

.videoHeading {
  font-size: 76px;
  line-height: 100px;
  font-weight: 700;
}

.videoSubHeading {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

@media screen and (min-width: 300px) and (max-width: 764px) {
  .videoDiv {
    padding: 0px;
  }
  .videoHeading {
    padding-left: 10px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-family: "Orbitron", sans-serif;
    line-height: 50px;
    font-size: 50px;
  }
  .videoSubHeading {
    font-weight: 0;
    padding: 30px;
    font-family: "Abel", sans-serif;
    line-height: 20px;
  }
  .video {
    margin-left: -240px;
    padding-bottom: -50px;
  }
  .playVideo {
    margin-top: 35px;
    /* margin-right:10px ; */
  }
}
