/* ----------Video Section------------ */

.videoDiv {
  background-color: #7f4bc4;
  text-align: center;
  color: white;
  padding: 80px;
  margin-top: -20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.video{
  margin-right: -45%;
}
.playVideo{
  position: relative;
  margin-bottom: -120%;
  margin-left: 30%;
}

.videoHeading {
  font-size: 76px;
  line-height: 100px;
  font-weight: 700;
}

.videoSubHeading {
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

@media screen and (min-width: 300px) and (max-width: 764px) {
  .videoDiv {
    padding: 0px;
  }
  .videoHeading {
    font-family: "Clash Grotesk";
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
  }
  .videoSubHeading {
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    line-height: 140%;
  }
  .video {
    margin-left: -240px;
    padding-bottom: -50px;
  }
  .playVideo{
    margin-top: -120%;
    margin-left: 25%;
    /* margin: auto; */
  }
}
