.videoDiv {
  background-color: #7f4bc4;
  text-align: center;
  position: relative;
  color: white;
  padding: 80px;
  margin-top: -20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 75vh;
}

.video {
  height: 540px;
  width: 900px;
}

.playVideo {
  position: relative;
  z-index: 10;
  top: 100;
  position: absolute;
  top: 56%;
  left: 48%;
}

.videoHeading {
  font-family: 'ClashGrotesk-Medium', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 76px;
  line-height: 100px;
}

.videoSubHeading {
  font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  margin-top: -0.5rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 640px) {
  .videoDiv {
    padding: 0px;
  }

  .btn {
    display: none;
  }

  .videoHeading {
    padding-left: 10px;
    padding-right: 20px;
    font-style: normal;
    font-family: 'ClashGrotesk-Semibold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 50px;
    font-size: 50px;
  }

  .videoSubHeading {
    font-weight: 0;
    padding: 30px;
    font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .video {
    margin-left: -232px;
  }

  .playVideo {
    margin-top: 50px;
    margin-left: -5%;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
  .videoDiv {
    padding: 3rem;
    width: 100%;
  }

  .btn {
    display: none;
  }

  .videoHeading {
    padding-left: 10px;
    padding-right: 20px;
    font-style: normal;
    font-family: 'ClashGrotesk-Semibold', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 50px;
    font-size: 50px;
  }

  .videoSubHeading {
    font-weight: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-family: 'ClashGrotesk-Extralight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
  }

  .video {
    height: 400px;
    width: 670px;
  }

  .playVideo {
    margin-top: 1rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}