.section {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -20px;
}

.textContainer {
  width: 100%;
  height: 50vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.textContainer h1,
.textContainer2 {
  font-size: 90px;
  font-weight: 900;
  line-height: 100px;
  color: white;
}

.textContainer span {
  font-size: var(--fontBig);
  width: 90%;
  font-weight: 600;
  text-transform: capitalize;
}

.textContainer2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #fff;
}

.textContainer2 span {
  font-size: var(--fontxxxl);
  width: 80%;
  font-weight: 600;
  text-transform: capitalize;
  align-self: flex-end;
  text-align: right;
}

.mobile {
  width: 230px;
  height: 430px;
  top: 60px;
}

.thunderImg {
  height: 100px;
  width: 125px
}
.transDiv {
  height: 100vh;
  width: 100vw;
  background: transparent;
  position: relative;
}
@media screen and (max-width: 70em) {
  .textContainer span,
  .textContainer2 span {
    font-size: var(--fontxxl);
  }
}

@media screen and (max-width: 64em) {
  .textContainer span,
  .textContainer2 span {
    font-size: var(--fontxl);
  }
}

@media screen and (max-width: 48em) {
  .textContainer span,
  .textContainer2 span {
    font-size: var(--fontlg);
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .textContainer h1,
  .textContainer2 {
    font-size: 70px;
    font-weight: 800;
    line-height: 80px;
    color: white;
  }
  .mobile{
    width: 220px;
    height: 390px;
    top: 22px;
  }
}

@media screen and (min-width:640px) and (max-width:769px) {
  .fasterDiv{
    position: absolute;
    top: -400px;
  }
  .textContainer h1,
  .textContainer2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: white;
  }

  .mobile {
    width: 150px;
    height: 270px;
  }

  .thunderImg {
    height: 70px;
    width: 100px
  }

  .textContainer {
    width: 100%;
    height: 0vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .textContainer2 {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
  }

  .section {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -20px;
  }
}

@media screen and (min-width:376px) and (max-width:640px) {
  .fasterDiv{
    position: absolute;
    top: -222px;
  }
  .textContainer h1,
  .textContainer2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: white;
  }
  .transDiv {
    height: 0vh;
    width: 100vw;
    background: transparent;
    position: relative;
  }

  .mobile {
    width: 150px;
    height: 270px;
    top: 190px;
  }

  .thunderImg {
    height: 70px;
    width: 100px
  }

  .textContainer {
    width: 100%;
    height: 0vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .textContainer2 {
    width: 100%;
    height: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
  }

  .section {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -20px;
  }
}

@media screen and (max-width:376px) {
  .fasterDiv{
    position: absolute;
    top: -222px;
  }
  .textContainer h1,
  .textContainer2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: white;
  }

  .mobile {
    width: 150px;
    height: 270px;
    top: 190px;
  }
  .transDiv {
    height: 0vh;
    width: 100vw;
    background: transparent;
    position: relative;
  }
  .thunderImg {
    height: 70px;
    width: 100px
  }

  .textContainer {
    width: 100%;
    height: 0vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .textContainer2 {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
  }

  .section {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -20px;
  }
}