.cardContainer {
    width: 30%;
    margin-bottom: 40px;
}

.cardDiv {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}

.cardTopSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}

.latestPost {
    color: white;
    width: 30%;
    font-size: 24px;
    font-family: 'ClashGrotesk-Semibold';
}

.rightNav {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.liText {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.liText:hover {
    color: rgb(163, 161, 161) !important;
}

.viewBtn {
    color: #696A75;
    font-size: 16px;
    border: 1px solid #696A75;
    padding: 10px 20px;
    border-radius: 10px
}
.viewBtn:hover {
    cursor: pointer;
    background-color: #424242;
    color: white;
    font-size: 16px;
    border: 1px solid #424242;
    padding: 10px 20px;
    border-radius: 10px
}

@media screen and (max-width:980px) {
    .cardContainer {
        width: 45%;
        margin-bottom: 40px;
    }

    .cardDiv {
        justify-content: space-around;
    }
}

@media screen and (max-width:768px) {
    .cardContainer {
        width: 100%;
        margin-bottom: 40px;
    }

    .cardDiv {
        justify-content: space-around;
    }

    .cardTopSection {
        display: flex;
        width: 100%;
        padding: 20px;
    }

    .latestPost {
        color: white;
        width: 30%;
        font-size: 24px;
        font-family: 'ClashGrotesk-Semibold';
    }

    .rightNav {
        width: 70%;
    }

    .rightNav ul {
        margin-top: 5px;
    }
}

@media screen and (max-width:640px) {
    .latestPost {
        color: white;
        width: 100%;
        margin: 10px 0px;
        font-size: 26px;
        font-family: 'ClashGrotesk-Semibold';
        text-align: center;
    }

    .rightNav {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .rightNav ul {
        display: flex;
        justify-content: center !important;
        padding-left: 0px !important;
    }

    .rightNav ul li {
        margin: 3px 6px;
        font-size: 16px;
    }
}

@media screen and (max-width:426px) {
    .cardContainer {
        width: 95%;
        margin-bottom: 40px;
    }

    .cardDiv {
        justify-content: space-around;
    }

    .cardTopSection {
        display: block;
        width: 100%;
        padding: 20px 10px;
    }

    .latestPost {
        color: white;
        width: 100%;
        font-size: 24px;
        font-family: 'ClashGrotesk-Semibold';
    }

    .rightNav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}