.topHeading {
    font-size: 38px;
    font-weight: 600;
    line-height: 50px;
    color: white;
    margin-bottom: 20px !important;
}

.para {
    font-size: 21px;
    line-height: 35px;
    margin-bottom: 30px !important;
}

.heading {
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.badge {
    background-color: #4B6BFB;
    color: #ffffff;
    width: fit-content;
    margin: 20px 0px;
    padding: 4px 10px;
    border-radius: 4px;
}

.offer {
    color: #E8E8EA;
    margin: 50px 0px 70px;
    padding: 30px;
    font-size: 22px;
    font-style: italic;
    background: #242535;
    border-left: 4.39px solid #E8E8EA;
    border-radius: 13px;
}

.cardDetails {
    padding: 170px 170px 0px 170px
}

.cardData {
    width: 45%;
}

@media screen and (max-width:980px) {
    .cardDetails {
        padding: 140px 70px 0px 70px
    }

    .topHeading {
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
        color: white;
        margin-bottom: 20px !important;
    }

    .para {
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 30px !important;
    }

    .heading {
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .offer {
        color: #E8E8EA;
        margin: 50px 0px 70px;
        padding: 30px;
        font-size: 16px;
        font-style: italic;
        background: #242535;
        border-left: 4.39px solid #E8E8EA;
        border-radius: 13px;
    }
}


@media screen and (max-width:700px) {
    .cardData {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:500px) {
    .cardDetails {
        padding: 90px 30px 0px 30px
    }

    .topHeading {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        color: white;
        margin-bottom: 20px !important;
    }

    .para {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 30px !important;
    }

    .heading {
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .offer {
        color: #E8E8EA;
        margin: 50px 0px 70px;
        padding: 30px;
        font-size: 16px;
        font-style: italic;
        background: #242535;
        border-left: 4.39px solid #E8E8EA;
        border-radius: 13px;
    }

}
@media screen and (max-width:375px) {
    .cardDetails {
        padding: 90px 10px 0px 10px
    }

    .topHeading {
        font-size: 22px;
        font-weight: 600;
        line-height: 27px;
        color: white;
        margin-bottom: 20px !important;
    }

    .para {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 30px !important;
    }

    .heading {
        font-size: 16px;
        line-height: 30px;
        font-weight: 600;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .offer {
        color: #E8E8EA;
        margin: 50px 0px 70px;
        padding: 30px;
        font-size: 16px;
        font-style: italic;
        background: #242535;
        border-left: 4.39px solid #E8E8EA;
        border-radius: 13px;
    }

}