.mainDiv {
    background-color: black;
    padding-top: 130px;
}

.heading {
    color: white;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    font-family: 'ClashGrotesk-Semibold';
}

.search {
    width: 50%;
    margin: 50px auto;
}

.searchBar {
    background: transparent;
    color: white;
    outline: none;
    border: none;
    height: 50px
}

.topImg {
    height: auto;
    width: 100%;
    cursor: pointer;
}

.input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.overlayDiv {
    width: 8%;
    color: white;
    width: 100%;
    margin-bottom: 5px;
    position: absolute;
    left: 7%;
    top: 50%
}

.overlayText {
    font-size: 38px;
    font-weight: 600;
    line-height: 44px;
    margin: 30px 0px
}

.featureBtn {
    cursor: pointer;
}

@media screen and (max-width:641px) {
    .search {
        width: 60%;
        margin: auto;
    }

    .heading {
        color: white;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        font-family: 'ClashGrotesk-Semibold';
    }

    .searchBar {
        background: transparent;
        color: white;
        outline: none;
        border: none;
        height: 30px
    }

    .overlayText {
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
        margin: 10px 0px
    }

    .overlayDiv {
        width: 8%;
        color: white;
        width: 100%;
        margin-bottom: 5px;
        position: absolute;
        left: 7%;
        top: 10%
    }

    .overlayDate {
        font-size: 12px !important;
    }

    .featureBtn {
        width: 16%;
        cursor: pointer;
    }
}


@media screen and (max-width:426px) {
    .search {
        width: 80%;
        margin: auto;
    }

    .heading {
        color: white;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        font-family: 'ClashGrotesk-Semibold';
    }

    .overlayText {
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        margin: 0px
    }

    .overlayDiv {
        width: 8%;
        color: white;
        width: 100%;
        margin-bottom: 5px;
        position: absolute;
        left: 3%;
        top: 25%
    }

    .overlayDate {
        font-size: 6px !important;
    }

    .featureBtn {
        width: 10%;
        cursor: pointer;
    }
}

@media screen and (min-width:640px) and (max-width:768px) {
    .overlayText {
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin: 16px 0px
    }

    .overlayDiv {
        width: 8%;
        color: white;
        width: 100%;
        margin-bottom: 5px;
        position: absolute;
        left: 7%;
        top: 20%
    }

    .overlayDate {
        font-size: 12px !important;
    }

    .featureBtn {
        width: 12%;
        cursor: pointer;
    }
}

@media screen and (min-width:768px) and (max-width:1440px) {
    .overlayDiv {
        width: 8%;
        color: white;
        width: 100%;
        margin-bottom: 5px;
        position: absolute;
        left: 7%;
        top: 30%
    }

    .overlayText {
        font-size: 30px;
        font-weight: 600;
        line-height: 44px;
        margin: 10px 0px
    }

    .featureBtn {
        cursor: pointer;
    }
}

@media screen and (min-width:1440px) {
    .overlayDiv {
        width: 8%;
        color: white;
        width: 100%;
        margin-bottom: 5px;
        position: absolute;
        left: 7%;
        top: 40%
    }

    .overlayText {
        font-size: 53px;
        font-weight: 600;
        line-height: 68px;
        margin: 30px 0px
    }

    .featureBtn {
        cursor: pointer;
    }
}