.mainDiv{
    background-color: black;
    padding-top: 130px;
}

.heading{
    color: white;
    font-size: 80px;
    line-height: 80px;
    text-align:center ;
    font-family: 'ClashGrotesk-Semibold';
}

.search{
    width: 30vw;
    margin: 50px auto;
}

.topImg{
    height: auto;
    margin-left: 30px;
    width: 80vw;
}