.mainDiv {
    background-color: black;
    padding-top: 130px;
}

.heading {
    color: white;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    font-family: 'ClashGrotesk-Semibold';
}

.search {
    width: 60%;
    margin: 50px auto;
}

.topImg {
    height: auto;
    width: 100%;
}

.input:focus {
    box-shadow: none !important;
    outline: none !important;
}

.form-control:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

@media screen and (max-width:640px) {
    .search {
        width: 60%;
        margin: auto;
    }

    .heading {
        color: white;
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        font-family: 'ClashGrotesk-Semibold';
    }
}